/.idea/
/simulation/__pycache__

# Log of XeTeX
**/X.log

# Ignore LaTeX auxiliary files
/report/build/**

# Ignore LaTeX auxiliary files
/refs/Template_for_Y2_project_report/template.*
!/refs/Template_for_Y2_project_report/template.tex
